.invalid-feedback
{
    color:red;
}
.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.userList {
    max-height: 640px;
    overflow-y: auto;
    overflow-x: hidden;
}